Repository mondaycom/vibe, pull requests merged in 2024-08, with the labels that each got.

#2301 chore(Badge): deprecate enums
  packages/core/src/components/Badge/Badge.tsx
  packages/core/src/components/Badge/Badge.types.ts
  packages/core/src/components/Badge/BadgeConstants.ts
  packages/core/src/components/Badge/Indicator/Indicator.tsx
  packages/core/src/components/Badge/Indicator/Indicator.types.ts
  packages/core/src/components/Badge/Indicator/IndicatorConstants.ts
  packages/core/src/components/Badge/__stories__/Badge.mdx
  packages/core/src/components/Badge/__stories__/Badge.stories.tsx
  packages/core/src/components/Badge/__tests__/Badge.snapshot.test.tsx
  packages/core/src/components/Badge/index.ts
Labels: breaking change, vibe3

#2302 chore(TextField): deprecate enums
  packages/core/src/components/Tabs/__stories__/Tabs.stories.tsx
  packages/core/src/components/TextField/TextField.tsx
  packages/core/src/components/TextField/TextField.types.ts
  packages/core/src/components/TextField/TextFieldConstants.ts
  packages/core/src/components/TextField/__stories__/TextField.mdx
  packages/core/src/components/TextField/__stories__/TextField.stories.tsx
  packages/core/src/components/TextField/__tests__/TextField.snapshot.test.js
  packages/core/src/components/TextField/__tests__/TextField.test.js
  packages/core/src/components/TextField/index.ts
  packages/core/src/storybook/components/related-components/descriptions/text-field-description.jsx
Labels: breaking change, vibe3

#2299 chore(Loader): deprecate enums
  packages/core/COMPONENTS_DOCUMENTATION_GUIDELINES.md
  packages/core/src/components/Loader/Loader.tsx
  packages/core/src/components/Loader/Loader.types.ts
  packages/core/src/components/Loader/LoaderConstants.ts
  packages/core/src/components/Loader/__stories__/Loader.mdx
  packages/core/src/components/Loader/__stories__/Loader.stories.tsx
  packages/core/src/components/Loader/__tests__/Loader.snapshot.test.js
  packages/core/src/components/Loader/index.ts
  packages/core/src/components/Search/Search.tsx
  packages/core/src/components/Toast/Toast.tsx
Labels: breaking change, vibe3

#2305 chore(Dropdown): deprecate enums
  packages/core/src/components/Dropdown/Dropdown.tsx
  packages/core/src/components/Dropdown/Dropdown.types.ts
  packages/core/src/components/Dropdown/DropdownConstants.ts
  packages/core/src/components/Dropdown/__stories__/Dropdown.mdx
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
Labels: breaking change, vibe3

#2304 chore(Button): deprecate enums
  packages/core/src/components/AlertBanner/AlertBanner.tsx
  packages/core/src/components/AlertBanner/AlertBannerButton/AlertBannerButton.tsx
  packages/core/src/components/AttentionBox/AttentionBox.tsx
  packages/core/src/components/Button/Button.tsx
  packages/core/src/components/Button/Button.types.ts
  packages/core/src/components/Button/ButtonConstants.ts
  packages/core/src/components/Button/__stories__/Button.mdx
  packages/core/src/components/Button/__stories__/Button.stories.tsx
  packages/core/src/components/Button/__tests__/Button.snapshot.test.js
  packages/core/src/components/Button/index.ts
  packages/core/src/components/ButtonGroup/ButtonGroup.tsx
  packages/core/src/components/Chips/Chips.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerContent/ColorPickerClearButton.tsx
  packages/core/src/components/Combobox/Combobox.tsx
  packages/core/src/components/Combobox/__stories__/Combobox.stories.tsx
  packages/core/src/components/Dialog/__stories__/Dialog.stories.tsx
  packages/core/src/components/Flex/__stories__/Flex.stories.tsx
  packages/core/src/components/GridKeyboardNavigationContext/__stories__/useGridKeyboardNavigationContext.stories.helpers.tsx
  packages/core/src/components/Heading/__stories__/Heading.stories.tsx
  packages/core/src/components/IconButton/IconButton.tsx
  packages/core/src/components/IconButton/__stories__/IconButton.mdx
  packages/core/src/components/IconButton/__stories__/IconButton.stories.tsx
  packages/core/src/components/Label/__stories__/Label.stories.tsx
  packages/core/src/components/Menu/MenuItem/components/MenuItemSubMenuIcon/MenuItemSubMenuIcon.tsx
  packages/core/src/components/Menu/MenuItemButton/MenuItemButton.tsx
  packages/core/src/components/Menu/MenuItemButton/__stories__/MenuItemButton.stories.tsx
  packages/core/src/components/MenuButton/__stories__/MenuButton.stories.tsx
  packages/core/src/components/MenuButton/__tests__/MenuButton.test.js
  packages/core/src/components/Modal/ModalFooter/ModalFooterButtons/ModalFooterButtons.tsx
  packages/core/src/components/Modal/ModalHeader/ModalHeader.tsx
  packages/core/src/components/Modal/__stories__/Modal.stories.helpers.tsx
  packages/core/src/components/RadioButton/__stories__/RadioButton.stories.tsx
  packages/core/src/components/ResponsiveList/__stories__/ResponsiveList.stories.js
  packages/core/src/components/Search/Search.tsx
  packages/core/src/components/Search/__stories__/Search.stories.tsx
  packages/core/src/components/Skeleton/__stories__/Skeleton.stories.js
  packages/core/src/components/SplitButton/__stories__/SplitButton.mdx
  packages/core/src/components/SplitButton/__stories__/SplitButton.stories.tsx
  packages/core/src/components/SplitButton/__tests__/SplitButton.snapshot.test.js
  packages/core/src/components/Steps/StepsCommand.tsx
  packages/core/src/components/Steps/__stories__/Steps.stories.tsx
  packages/core/src/components/Table/TableHeaderCell/TableHeaderCell.tsx
  packages/core/src/components/Text/__stories__/Text.mdx
  packages/core/src/components/ThemeProvider/__stories__/ThemeProvider.stories.helpers.tsx
  packages/core/src/components/Tipseen/Tipseen.tsx
  packages/core/src/components/Tipseen/TipseenContent.tsx
  packages/core/src/components/Tipseen/TipseenWizard.tsx
  packages/core/src/components/Toast/Toast.tsx
  packages/core/src/components/Toast/ToastButton/ToastButton.tsx
  packages/core/src/components/Tooltip/__stories__/Tooltip.mdx
  packages/core/src/components/Tooltip/__stories__/Tooltip.stories.tsx
  packages/core/src/components/VirtualizedGrid/__stories__/VirtualizedGrid.stories.js
  packages/core/src/hooks/useGridKeyboardNavigation/__stories__/useGridKeyboardNavigation.stories.js
  packages/core/src/storybook/components/related-components/descriptions/button-description.jsx
  packages/core/src/storybook/components/related-components/descriptions/dialog-description/dialog-description.tsx
  packages/core/src/storybook/components/related-components/descriptions/flex-description.jsx
  packages/core/src/storybook/patterns/dropdown-in-modals/dropdown-in-modals.stories.js
  packages/core/src/storybook/stand-alone-documentaion/shadow/card-shadow-example/card-shadow-example.tsx
  packages/core/src/storybook/stand-alone-documentaion/welcome/contributor/contributor.jsx
Labels: breaking change, vibe3

#2311 chore(ColorPicker): deprecate enums
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/ColorPicker/ColorPicker.tsx
  packages/core/src/components/ColorPicker/ColorPicker.types.ts
  packages/core/src/components/ColorPicker/ColorPickerConstants.ts
  packages/core/src/components/ColorPicker/__stories__/ColorPicker.stories.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerContent/ColorPickerColorsGrid.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerContent/ColorPickerContent.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerItemComponent/ColorPickerItemComponent.tsx
  packages/core/src/components/ColorPicker/index.ts
  packages/core/src/types/Colors.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/colors-utils.ts
  packages/core/src/utils/colors-vars-map.ts
Labels: breaking change, vibe3

#2307 chore: deprecate enums
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/AlertBanner/AlertBannerText/AlertBannerText.tsx
  packages/core/src/components/Avatar/Avatar.tsx
  packages/core/src/components/AvatarGroup/AvatarGroupCounterTooltipContainer.tsx
  packages/core/src/components/Badge/BadgeConstants.ts
  packages/core/src/components/BreadcrumbsBar/BreadcrumbItem/BreadcrumbItem.tsx
  packages/core/src/components/ButtonGroup/ButtonGroup.tsx
  packages/core/src/components/ButtonGroup/ButtonWrapper.tsx
  packages/core/src/components/Combobox/__stories__/Combobox.stories.tsx
  packages/core/src/components/Dialog/Dialog.tsx
  packages/core/src/components/Dialog/Dialog.types.ts
  packages/core/src/components/Dialog/DialogConstants.ts
  packages/core/src/components/Dialog/DialogContent/DialogContent.tsx
  packages/core/src/components/Dialog/__stories__/Dialog.stories.tsx
  packages/core/src/components/Dialog/consts/dialog-show-hide-event.ts
  packages/core/src/components/Dialog/index.ts
  packages/core/src/components/DialogContentContainer/DialogContentContainer.tsx
  packages/core/src/components/DialogContentContainer/DialogContentContainerConstants.ts
  packages/core/src/components/Dropdown/components/Control/Control.jsx
  packages/core/src/components/Dropdown/components/MultiValueContainer/MultiValueContainer.jsx
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Menu/MenuItemButton/MenuItemButton.tsx
  packages/core/src/components/MenuButton/MenuButton.tsx
  packages/core/src/components/Modal/__stories__/Modal.stories.helpers.tsx
  packages/core/src/components/Slider/SliderBase/SliderThumb.tsx
  packages/core/src/components/SplitButton/SplitButton.tsx
  packages/core/src/components/SplitButton/SplitButtonConstants.ts
  packages/core/src/components/Steps/__stories__/Steps.stories.tsx
  packages/core/src/components/TextWithHighlight/TextWithHighlight.tsx
  packages/core/src/components/Tipseen/Tipseen.tsx
  packages/core/src/components/Tipseen/Tipseen.types.ts
  packages/core/src/components/Tipseen/TipseenConstants.ts
  packages/core/src/components/Tipseen/__stories__/Tipseen.mdx
  packages/core/src/components/Tipseen/__stories__/Tipseen.stories.tsx
  packages/core/src/components/Tipseen/__tests__/Tipseen.test.js
  packages/core/src/components/Tipseen/index.ts
  packages/core/src/components/Tooltip/Tooltip.tsx
  packages/core/src/components/Tooltip/Tooltip.types.ts
  packages/core/src/components/Tooltip/TooltipConstants.ts
  packages/core/src/components/Tooltip/index.ts
  packages/core/src/constants/dialog.ts
  packages/core/src/constants/index.js
  packages/core/src/constants/positions.ts
  packages/core/src/storybook/components/related-components/descriptions/dialog-description/dialog-description.tsx
  packages/core/src/storybook/patterns/dropdown-in-modals/dropdown-in-modals.stories.js
  packages/core/src/types/index.ts
  packages/core/src/types/positions.ts
Labels: breaking change, vibe3

#2318 chore(Table): deprecate enums
  packages/core/src/components/Table/Table/Table.tsx
  packages/core/src/components/Table/Table/Table.types.ts
  packages/core/src/components/Table/Table/TableConsts.ts
  packages/core/src/components/Table/Table/TableRoot.tsx
  packages/core/src/components/Table/Table/__stories__/Table.stories.helpers.tsx
  packages/core/src/components/Table/Table/__stories__/Table.stories.tsx
  packages/core/src/components/Table/Table/__tests__/Table.test.tsx
  packages/core/src/components/Table/Table/__tests__/tableTestUtils.tsx
  packages/core/src/components/Table/Table/tableHelpers.ts
  packages/core/src/components/Table/TableBody/TableBody.tsx
  packages/core/src/components/Table/TableCell/TableCell.tsx
  packages/core/src/components/Table/TableHeader/TableHeader.tsx
  packages/core/src/components/Table/TableHeaderCell/TableHeaderCell.tsx
  packages/core/src/components/Table/TableRow/TableRow.tsx
  packages/core/src/components/Table/TableVirtualizedBody/TableVirtualizedBody.tsx
  packages/core/src/components/Table/context/TableContainerContext/TableContainerContext.tsx
  packages/core/src/components/Table/context/TableContainerContext/TableContainerContext.types.ts
  packages/core/src/components/Table/context/TableContext/TableContext.tsx
  packages/core/src/components/Table/context/TableContext/TableContext.types.ts
  packages/core/src/components/Table/context/TableRowMenuContext/TableRowMenuContext.tsx
  packages/core/src/components/Table/context/TableRowMenuContext/TableRowMenuContext.types.ts
  packages/core/src/components/Table/index.ts
Labels: breaking change, vibe3

#2321 chore(Slider): deprecate enums
  packages/core/src/components/AvatarGroup/__stories__/AvatarGroup.stories.js
  packages/core/src/components/Slider/SelectionIndicator.tsx
  packages/core/src/components/Slider/Slider.tsx
  packages/core/src/components/Slider/Slider.types.ts
  packages/core/src/components/Slider/SliderBase/SliderFilledTrack.tsx
  packages/core/src/components/Slider/SliderBase/SliderRail.tsx
  packages/core/src/components/Slider/SliderBase/SliderThumb.tsx
  packages/core/src/components/Slider/SliderBase/SliderTrack.tsx
  packages/core/src/components/Slider/SliderConstants.ts
  packages/core/src/components/Slider/SliderInfixHooks.tsx
  packages/core/src/components/Slider/__stories__/Slider.stories.tsx
  packages/core/src/components/Slider/__tests__/Slider.snapshot.test.js
  packages/core/src/components/Slider/index.ts
Labels: breaking change, vibe3

#2322 chore(Combobox): deprecate enums
  packages/core/src/components/Combobox/Combobox.tsx
  packages/core/src/components/Combobox/Combobox.types.ts
  packages/core/src/components/Combobox/__stories__/Combobox.stories.tsx
  packages/core/src/components/Combobox/__tests__/Combobox.snapshot.test.js
  packages/core/src/components/Combobox/components/ComboboxConstants.ts
  packages/core/src/components/Combobox/components/ComboboxOption/ComboboxOption.tsx
  packages/core/src/components/Combobox/index.ts
  packages/core/src/components/Search/__stories__/Search.stories.tsx
  packages/core/src/storybook/components/related-components/descriptions/combobox-description.jsx
Labels: breaking change, vibe3

#2315 feat(colors:): remove shareable-color and private-color
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/storybook/stand-alone-documentaion/colors/semantic-colors/semantic-colors.jsx
  packages/core/src/utils/colors-vars-map.ts
  packages/style/src/config/maps/themes/basic/keys/_keys.scss
  packages/style/src/config/maps/themes/black/keys/_black-theme-keys.scss
  packages/style/src/config/maps/themes/dark/keys/_dark-theme-keys.scss
  packages/style/src/config/maps/themes/hacker/keys/_hacker-theme-keys.scss
  packages/style/src/config/tokens/themes/basic/keys/_keys.scss
  packages/style/src/config/tokens/themes/black/keys/_black-theme-keys.scss
  packages/style/src/config/tokens/themes/dark/keys/_dark-theme-keys.scss
  packages/style/src/config/tokens/themes/hacker/keys/_hacker-theme-keys.scss
  packages/style/src/files/colors.json
Labels: breaking change, vibe3

#2308 feat(Tipseen): change default color to inverted
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Tipseen/Tipseen.tsx
  packages/core/src/components/Tipseen/__stories__/Tipseen.mdx
  packages/core/src/components/Tipseen/__stories__/Tipseen.stories.tsx
  packages/core/src/components/Tipseen/__tests__/__snapshots__/Tipseen.test.js.snap
Labels: breaking change, vibe3

#2317 chore(chips): deprecate enums
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Chips/Chips.tsx
  packages/core/src/components/Chips/__stories__/Chips.mdx
  packages/core/src/components/Chips/__stories__/Chips.stories.tsx
  packages/core/src/components/Chips/__tests__/Chips.snapshot.test.tsx
  packages/core/src/components/Dropdown/Dropdown.types.ts
  packages/core/src/components/Dropdown/DropdownConstants.ts
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
  packages/core/src/components/Dropdown/components/MultiValueContainer/MultiValueContainer.jsx
  packages/core/src/types/Colors.ts
  packages/core/src/utils/colors-vars-map.ts
Labels: breaking change, vibe3

#2316 feat(TabList): remove noPadding prop
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Tabs/TabList/TabList.module.scss
  packages/core/src/components/Tabs/TabList/TabList.tsx
  packages/core/src/components/Tabs/TabList/__tests__/TabList.snapshot.test.js
  packages/core/src/components/Tabs/TabList/__tests__/__snapshots__/TabList.snapshot.test.js.snap
Labels: breaking change, vibe3

#2278 chore(Skeleton): deprecate enums
  packages/core/src/components/Skeleton/Skeleton.tsx
  packages/core/src/components/Skeleton/SkeletonConstants.ts
  packages/core/src/components/Skeleton/Skelton.types.ts
  packages/core/src/components/Skeleton/__stories__/Skeleton.stories.js
  packages/core/src/components/Skeleton/index.ts
Labels: breaking change, vibe3

#2312 feat(Tabs): reset spacings
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Tabs/Tab/Tab.module.scss
  packages/core/src/components/Tabs/TabList/TabList.module.scss
  packages/core/src/components/Tabs/TabList/__stories__/TabList.stories.module.scss
  packages/core/src/components/Tabs/TabList/__stories__/TabList.stories.tsx
  packages/core/src/components/Tabs/__stories__/Tabs.mdx
  packages/core/src/components/Tabs/__stories__/Tabs.stories.scss
  packages/core/src/components/Tabs/__stories__/Tabs.stories.tsx
Labels: breaking change, vibe3

#2323 chore(Avatar): deprecate color enums
  packages/core/src/components/Avatar/Avatar.tsx
  packages/core/src/components/Avatar/__stories__/Avatar.stories.tsx
  packages/core/src/components/Chips/__stories__/Chips.stories.tsx
  packages/core/src/components/Counter/__stories__/Counter.stories.tsx
  packages/core/src/components/List/__stories__/List.stories.tsx
  packages/core/src/components/Table/Table/__stories__/Table.stories.helpers.tsx
  packages/core/src/storybook/stand-alone-documentaion/playground/react-docgen-output.json
Labels: breaking change, vibe3

#2226 feat: drop CommonJS support
  packages/core/.eslintrc.cjs
  packages/core/DEPRECATED_IMPORTS.md
  packages/core/TYPESCRIPT_MIGRATION.md
  packages/core/__mocks__/fileMock.cjs
  packages/core/__mocks__/svgMock.js
  packages/core/babel.config.cjs
  packages/core/docs/vibe-3-changelog.md
  packages/core/jest.config.ts
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/scripts/build-exports.js
  packages/core/scripts/build-storybook-exports.js
  packages/core/scripts/build-types.js
  packages/core/scripts/build-utils.js
  packages/core/scripts/githooks/install.sh
  packages/core/scripts/githooks/pre-push.sh
  packages/core/scripts/prerelease.js
  packages/core/scripts/styleInject.ejs
  packages/core/src/components/Button/Button.tsx
  packages/core/src/components/ButtonGroup/__stories__/ButtonGroup.mdx
  packages/core/src/components/ColorPicker/__stories__/ColorPicker.stories.tsx
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
  packages/core/src/index.ts
  packages/core/tsconfig.cjs.json
  packages/core/tsconfig.json
  packages/core/webpack.config.js
  packages/core/webpack/default.config.js
  packages/core/webpack/published-components.js
  packages/core/webpack/published-js-components.js
  packages/core/webpack/published-ts-components.js
  packages/core/webpack/storybook.config.js
  yarn.lock
Labels: breaking change, vibe3

#2314 feat(Button): remove deprecated sizes support
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Button/Button.tsx
  packages/core/src/components/Button/ButtonConstants.ts
Labels: breaking change, vibe3

#2325 chore: remove colors.json
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/components/ProgressBars/LinearProgressBar/__stories__/LinearProgressBar.stories.tsx
  packages/core/src/constants/colors.json
Labels: breaking change, vibe3

#2326 chore: remove color-warning
  packages/core/docs/vibe-3-changelog.md
  packages/style/src/files/colors.json
Labels: breaking change, vibe3

#2329 chore(Icon): Rename featured icon to upgrade
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Icon/Icons/components/Featured.tsx
  packages/core/src/components/Icon/Icons/components/Upgrade.tsx
  packages/core/src/components/Icon/Icons/index.ts
  packages/core/src/components/Icon/__stories__/IconsList.tsx
  packages/core/src/components/MultiStepIndicator/__stories__/MultiStepIndicator.stories.tsx
  packages/core/src/components/MultiStepIndicator/__tests__/MultiStepIndicator.snapshot.test.tsx
  packages/style/src/Icons/Featured.svg
  packages/style/src/Icons/Upgrade.svg
  packages/style/src/Icons/iconsMetaData.js
Labels: breaking change, vibe3

#2333 chore(AvatarGroup): remove removePadding prop and apply by default
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/AvatarGroup/AvatarGroup.module.scss
  packages/core/src/components/AvatarGroup/AvatarGroup.tsx
Labels: breaking change, vibe3

#2331 chore: remove withReadOnlyStyle prop
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/AlertBanner/AlertBanner.tsx
  packages/core/src/components/Dropdown/Dropdown.styles.js
  packages/core/src/components/Dropdown/Dropdown.tsx
  packages/core/src/components/Dropdown/Dropdown.types.ts
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
  packages/core/src/components/Label/__stories__/Label.mdx
  packages/core/src/components/Label/__stories__/Label.stories.scss
  packages/core/src/components/TextField/TextField.module.scss
  packages/core/src/components/TextField/TextField.tsx
  packages/core/src/components/TextField/__stories__/TextField.stories.tsx
Labels: breaking change, vibe3

#2332 fix(List): add font smoothing
  packages/core/src/components/List/List.module.scss
Labels: breaking change, vibe3

#2341 chore(useSwitch): change type
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/hooks/useSwitch/__tests__/useSwitch.test.ts
  packages/core/src/hooks/useSwitch/index.ts
Labels: breaking change, vibe3

#2340 chore(MenuItem): wrap element with tooltip
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Menu/Menu/__tests__/__snapshots__/Menu.test.tsx.snap
  packages/core/src/components/Menu/MenuItem/MenuItem.module.scss
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Menu/MenuItem/__tests__/MenuItem.test.js
  packages/core/src/components/Menu/MenuItem/__tests__/__snapshots__/MenuItem.snapshot.test.tsx.snap
  packages/core/src/components/MenuButton/__tests__/MenuButton.test.tsx
  packages/core/src/components/SplitButton/SplitButtonMenu/__tests__/__snapshots__/SplitButtonMenu.snapshot.test.tsx.snap
Labels: breaking change, vibe3

#2345 chore: remove backwards sizes support
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Counter/Counter.tsx
  packages/core/src/components/Counter/CounterConstants.ts
  packages/core/src/components/TextField/TextField.tsx
  packages/core/src/components/TextField/TextFieldConstants.ts
Labels: breaking change, vibe3

#2339 chore(Tooltip): keyboard a11y by default
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Slider/SliderBase/SliderThumb.tsx
  packages/core/src/components/Table/TableHeaderCell/TableHeaderCell.tsx
  packages/core/src/components/TextField/TextField.tsx
  packages/core/src/components/Tooltip/Tooltip.tsx
  packages/core/src/components/Tooltip/__tests__/Tooltip.test.tsx
Labels: breaking change, vibe3

#2337 chore(Tooltip): remove withMaxWidth
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Slider/__tests__/__snapshots__/Slider-non-ranged.test.js.snap
  packages/core/src/components/Slider/__tests__/__snapshots__/Slider-ranged.test.js.snap
  packages/core/src/components/Tipseen/Tipseen.module.scss
  packages/core/src/components/Tipseen/__tests__/__snapshots__/Tipseen.test.tsx.snap
  packages/core/src/components/Tooltip/Tooltip.module.scss
  packages/core/src/components/Tooltip/Tooltip.tsx
  packages/core/src/components/Tooltip/__stories__/Tooltip.mdx
  packages/core/src/components/Tooltip/__stories__/Tooltip.stories.tsx
  packages/core/src/components/Tooltip/__tests__/__snapshots__/Tooltip.snapshot.test.tsx.snap
  packages/core/src/storybook/components/related-components/descriptions/tab-description.jsx
Labels: breaking change, vibe3

#2349 chore: better props typing
  packages/core/src/components/Accordion/Accordion/Accordion.tsx
  packages/core/src/components/Box/Box.tsx
  packages/core/src/components/Button/Button.tsx
  packages/core/src/components/Checkbox/Checkbox.tsx
  packages/core/src/components/Clickable/Clickable.tsx
  packages/core/src/components/Clickable/ClickableWrapper.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerContent/ColorPickerClearButton.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerContent/ColorPickerColorsGrid.tsx
  packages/core/src/components/ColorPicker/components/ColorPickerItemComponent/ColorPickerItemComponent.tsx
  packages/core/src/components/DatePicker/DatePicker.tsx
  packages/core/src/components/EditableTypography/EditableTypography.tsx
  packages/core/src/components/FormattedNumber/FormattedNumber.tsx
  packages/core/src/components/Icon/FontIcon/FontIcon.tsx
  packages/core/src/components/List/List.tsx
  packages/core/src/components/Loader/Loader.tsx
  packages/core/src/components/Menu/Menu/Menu.tsx
  packages/core/src/components/Menu/MenuGridItem/MenuGridItem.tsx
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Modal/ModalFooter/ModalFooterButtons/ModalFooterButtons.tsx
  packages/core/src/components/RadioButton/RadioButton.tsx
  packages/core/src/components/Slider/SliderBase/SliderRail.tsx
  packages/core/src/components/Switch/Switch.tsx
  packages/core/src/components/Table/TableBody/TableBody.tsx
  packages/core/src/components/Table/TableCell/TableCell.tsx
  packages/core/src/components/Table/TableHeader/TableHeader.tsx
  packages/core/src/components/Table/TableHeaderCell/TableHeaderCell.tsx
  packages/core/src/components/Table/TableRow/TableRow.tsx
  packages/core/src/components/Tipseen/TipseenMedia/TipseenMedia.tsx
  packages/core/src/components/Toggle/Toggle.tsx
  packages/core/src/components/VirtualizedGrid/VirtualizedGrid.tsx
  packages/core/src/components/VirtualizedList/VirtualizedList.tsx
Labels: vibe3

#2350 chore: remove deprecation warnings
  packages/core/src/components/Tipseen/Tipseen.tsx
  packages/core/src/components/Tooltip/Tooltip.tsx
Labels: breaking change, vibe3

#2313 feat(TabPanels): change renderOnlyActiveTab default to true
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Tabs/TabPanels/TabPanels.tsx
  packages/core/src/components/Tabs/TabPanels/__tests__/__snapshots__/TabPanels.snapshot.test.js.snap
  packages/core/src/components/Tabs/TabsContext/__tests__/__snapshots__/TabsContext.snapshot.test.js.snap
Labels: breaking change, vibe3

#2355 docs: fix type checking in storybook
  packages/core/.storybook/main.ts
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Menu/MenuItem/MenuItem.types.ts
  packages/core/src/components/Menu/MenuItem/components/MenuItemSubMenu/MenuItemSubMenu.types.ts
  packages/core/src/components/MultiStepIndicator/MultiStep.types.ts
  packages/core/src/components/MultiStepIndicator/MultiStepIndicator.tsx
  packages/core/src/components/MultiStepIndicator/__stories__/MultiStepIndicator.mdx
  packages/core/src/components/MultiStepIndicator/__stories__/MultiStepIndicator.stories.helpers.tsx
  packages/core/src/components/MultiStepIndicator/__stories__/MultiStepIndicator.stories.tsx
  packages/core/src/components/MultiStepIndicator/__tests__/MultiStepIndicator.snapshot.test.tsx
  packages/core/src/components/MultiStepIndicator/__tests__/MultiStepIndicator.test.tsx
  packages/core/src/components/Skeleton/__stories__/Skeleton.mdx
  packages/core/src/components/Skeleton/__stories__/Skeleton.stories.tsx
  packages/core/src/components/Steps/Steps.tsx
  packages/core/src/components/Steps/StepsCommand.tsx
  packages/core/src/components/Steps/StepsHeader.tsx
  packages/core/src/components/Toast/__stories__/Toast.stories.tsx
  packages/core/src/hooks/useSwitch/__tests__/useSwitch.test.ts
  packages/core/src/hooks/useSwitch/index.ts
  packages/core/types/files.d.ts
Labels: breaking change, vibe3

#2354 chore(Modal): revert removal of unmountOnClose prop
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Modal/Modal.tsx
  packages/core/src/components/Modal/__tests__/Modal.test.js
Labels: breaking change, vibe3

#2328 chore(Icon): Remove clickable & onClick props
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Accordion/Accordion/__tests__/__snapshots__/Accordion.snapshot.test.tsx.snap
  packages/core/src/components/Accordion/AccordionItem/__tests__/__snapshots__/AccordionItem.snapshot.test.tsx.snap
  packages/core/src/components/AlertBanner/__tests__/__snapshots__/AlertBanner.snapshot.test.tsx.snap
  packages/core/src/components/AttentionBox/AttentionBox.tsx
  packages/core/src/components/AttentionBox/__tests__/__snapshots__/AttentionBox.snapshot.test.tsx.snap
  packages/core/src/components/Avatar/AvatarBadge.tsx
  packages/core/src/components/Avatar/AvatarContent.tsx
  packages/core/src/components/Button/Button.tsx
  packages/core/src/components/Button/__tests__/__snapshots__/Button.snapshot.test.tsx.snap
  packages/core/src/components/Checkbox/Checkbox.tsx
  packages/core/src/components/Checkbox/__tests__/__snapshots__/Checkbox.snapshot.test.tsx.snap
  packages/core/src/components/Chips/Chips.tsx
  packages/core/src/components/Chips/__tests__/__snapshots__/Chips.snapshot.test.tsx.snap
  packages/core/src/components/Combobox/__tests__/__snapshots__/Combobox.snapshot.test.tsx.snap
  packages/core/src/components/Combobox/components/ComboboxOption/ComboboxOption.tsx
  packages/core/src/components/DatePicker/DateNavigationItem/DateNavigationItem.tsx
  packages/core/src/components/DatePicker/DatePickerHeader/DatePickerHeader.tsx
  packages/core/src/components/Dropdown/__tests__/__snapshots__/Dropdown.snapshot.test.js.snap
  packages/core/src/components/Dropdown/components/ChildrenContent/ChildrenContent.jsx
  packages/core/src/components/ExpandCollapse/ExpandCollapse.tsx
  packages/core/src/components/ExpandCollapse/__stories__/ExpandCollapse.stories.tsx
  packages/core/src/components/ExpandCollapse/__tests__/__snapshots__/ExpandCollapse.test.tsx.snap
  packages/core/src/components/FieldLabel/FieldLabel.tsx
  packages/core/src/components/Icon/Icon.tsx
  packages/core/src/components/Icon/__stories__/IconsList.tsx
  packages/core/src/components/IconButton/IconButton.tsx
  packages/core/src/components/IconButton/__tests__/__snapshots__/IconButton.snapshot.test.tsx.snap
  packages/core/src/components/Link/Link.tsx
  packages/core/src/components/ListItemIcon/ListItemIcon.tsx
  packages/core/src/components/ListItemIcon/__tests__/__snapshots__/ListItemIcon.test.tsx.snap
  packages/core/src/components/Menu/MenuItem/__tests__/__snapshots__/MenuItem.snapshot.test.tsx.snap
  packages/core/src/components/Menu/MenuItem/components/MenuItemIcon/MenuItemIcon.tsx
  packages/core/src/components/Menu/MenuItem/components/MenuItemSubMenuIcon/MenuItemSubMenuIcon.tsx
  packages/core/src/components/Modal/ModalHeader/ModalHeader.tsx
  packages/core/src/components/MultiStepIndicator/__tests__/__snapshots__/MultiStepIndicator.snapshot.test.tsx.snap
  packages/core/src/components/MultiStepIndicator/components/StepIndicator/StepIndicator.tsx
  packages/core/src/components/Search/Search.tsx
  packages/core/src/components/SplitButton/__tests__/__snapshots__/SplitButton.snapshot.test.tsx.snap
  packages/core/src/components/Steps/StepsCommand.tsx
  packages/core/src/components/Steps/__tests__/__snapshots__/Steps.snapshot.test.tsx.snap
  packages/core/src/components/Table/TableHeaderCell/TableHeaderCell.tsx
  packages/core/src/components/Tabs/Tab/Tab.tsx
  packages/core/src/components/Tabs/Tab/__tests__/__snapshots__/Tab.snapshot.test.tsx.snap
  packages/core/src/components/TextField/TextField.tsx
  packages/core/src/components/TextField/__tests__/TextField.snapshot.test.tsx
  packages/core/src/components/Toast/ToastHelpers.tsx
  packages/core/src/components/Toast/__tests__/__snapshots__/Toast.snapshot.test.tsx.snap
  packages/core/src/components/Tooltip/Tooltip.tsx
  packages/core/src/storybook/components/related-components/descriptions/expand-collapse-description/expand-collapse-description.jsx
Labels: breaking change, vibe3

#2343 chore: cleanup
  packages/core/src/components/Accordion/AccordionItem/__stories__/accordionItem.stories.tmp
  packages/core/src/components/AlertBanner/AlertBannerLink/AlertBannerLink.tsx
  packages/core/src/components/AttentionBox/AttentionBox.tsx
  packages/core/src/components/Avatar/AvatarBadge.tsx
  packages/core/src/components/BreadcrumbsBar/BreadcrumbItem/BreadcrumbContent/BreadcrumbContent.tsx
  packages/core/src/components/Clickable/Clickable.tsx
  packages/core/src/components/Combobox/Combobox.tsx
  packages/core/src/components/Combobox/ComboboxHelpers/ComboboxHelpers.tsx
  packages/core/src/components/Combobox/ComboboxService.ts
  packages/core/src/components/Combobox/__tests__/Combobox.interactions.js
  packages/core/src/components/DatePicker/YearPicker/YearsList.tsx
  packages/core/src/components/Dialog/Dialog.tsx
  packages/core/src/components/Dialog/DialogContent/DialogContent.tsx
  packages/core/src/components/Dropdown/Dropdown.styles.js
  packages/core/src/components/Dropdown/Dropdown.tsx
  packages/core/src/components/Dropdown/__tests__/Dropdown.snapshot.test.js
  packages/core/src/components/Dropdown/__tests__/driver.js
  packages/core/src/components/Dropdown/components/ClearIndicator/ClearIndicator.jsx
  packages/core/src/components/Dropdown/components/DropdownIndicator/DropdownIndicator.jsx
  packages/core/src/components/Dropdown/components/MultiValueContainer/MultiValueContainer.jsx
  packages/core/src/components/Dropdown/components/singleValue/singleValue.jsx
  packages/core/src/components/ExpandCollapse/ExpandCollapse.module.scss
  packages/core/src/components/FieldLabel/FieldLabel.tsx
  packages/core/src/components/Icon/Icon.tsx
  packages/core/src/components/Link/__tests__/Link.snapshot.test.tsx
  packages/core/src/components/Link/__tests__/Link.test.tsx
  packages/core/src/components/ListItem/ListItem.tsx
  packages/core/src/components/Menu/Menu/__stories__/Menu.stories.tsx
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Menu/MenuItem/__stories__/MenuItem.stories.tsx
  packages/core/src/components/Menu/MenuItem/components/BaseMenuItem/BaseMenuItem.types.ts
  packages/core/src/components/Menu/MenuItem/components/MenuItemIcon/MenuItemIcon.types.ts
  packages/core/src/components/Menu/MenuItem/components/MenuItemSubMenu/MenuItemSubMenu.types.ts
  packages/core/src/components/Menu/MenuItemButton/MenuItemButton.tsx
  packages/core/src/components/Modal/ModalHelper.ts
  packages/core/src/components/MultiStepIndicator/components/StepIndicator/StepIndicator.tsx
  packages/core/src/components/ProgressBars/LinearProgressBar/LinearProgressBar.tsx
  packages/core/src/components/Steps/StepsHeader.tsx
  packages/core/src/components/Steps/__stories__/Steps.stories.helpers.tsx
  packages/core/src/components/Tabs/Tab/Tab.tsx
  packages/core/src/components/ThemeProvider/__stories__/ThemeProvider.stories.helpers.tsx
  packages/core/src/components/Typography/Typography.module.scss
  packages/core/src/components/VirtualizedList/__stories__/VirtualizedList.stories.helpers.js
  packages/core/src/constants/common.ts
  packages/core/src/constants/index.ts
  packages/core/src/helpers/backwardCompatibilityForProperties.ts
  packages/core/src/hooks/useActiveDescendantListFocus/index.ts
  packages/core/src/hooks/useIsOverflowing/useIsOverflowing.ts
  packages/core/src/hooks/useMergeRefs.ts
  packages/core/src/hooks/usePopover.ts
  packages/core/src/hooks/useSetFocus/index.ts
  packages/core/src/hooks/useThrottledCallback.ts
  packages/core/src/storybook/components/related-components/descriptions/clickable-description/clickable-description.jsx
  packages/core/src/utils/function-utils.ts
Labels: vibe3

#2348 chore: remove enumPropNamesArray
  packages/core/plop/general/component-stories-js.txt
  packages/core/src/components/Avatar/__stories__/Avatar.stories.tsx
  packages/core/src/components/Badge/__stories__/Badge.stories.tsx
  packages/core/src/components/Box/__stories__/Box.stories.tsx
  packages/core/src/components/BreadcrumbsBar/__stories__/BreadcrumbsBar.stories.tsx
  packages/core/src/components/Button/__stories__/Button.stories.tsx
  packages/core/src/components/ButtonGroup/__stories__/ButtonGroup.stories.tsx
  packages/core/src/components/Chips/__stories__/Chips.stories.tsx
  packages/core/src/components/ColorPicker/__stories__/ColorPicker.stories.tsx
  packages/core/src/components/Combobox/__stories__/Combobox.stories.tsx
  packages/core/src/components/Counter/__stories__/Counter.stories.tsx
  packages/core/src/components/Dialog/__stories__/Dialog.stories.tsx
  packages/core/src/components/DialogContentContainer/__stories__/DialogContentContainer.stories.tsx
  packages/core/src/components/Divider/__stories__/Divider.stories.tsx
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
  packages/core/src/components/EditableHeading/EditableHeading.tsx
  packages/core/src/components/EditableHeading/__stories__/EditableHeading.stories.tsx
  packages/core/src/components/EditableText/EditableText.tsx
  packages/core/src/components/EditableText/__stories__/EditableText.stories.tsx
  packages/core/src/components/ExpandCollapse/__stories__/ExpandCollapse.stories.tsx
  packages/core/src/components/Flex/__stories__/Flex.stories.tsx
  packages/core/src/components/Heading/__stories__/Heading.stories.tsx
  packages/core/src/components/IconButton/IconButton.tsx
  packages/core/src/components/IconButton/__stories__/IconButton.stories.tsx
  packages/core/src/components/Label/__stories__/Label.stories.tsx
  packages/core/src/components/Link/__stories__/Link.stories.tsx
  packages/core/src/components/Loader/__stories__/Loader.stories.tsx
  packages/core/src/components/Menu/MenuGridItem/__stories__/MenuGridItem.stories.tsx
  packages/core/src/components/Menu/MenuItem/__stories__/MenuItem.stories.tsx
  packages/core/src/components/Menu/MenuItemButton/__stories__/MenuItemButton.stories.tsx
  packages/core/src/components/Menu/MenuTitle/__stories__/MenuTitle.stories.tsx
  packages/core/src/components/Modal/__stories__/Modal.stories.tsx
  packages/core/src/components/ProgressBars/LinearProgressBar/__stories__/LinearProgressBar.stories.tsx
  packages/core/src/components/Slider/__stories__/Slider.stories.tsx
  packages/core/src/components/SplitButton/__stories__/SplitButton.stories.tsx
  packages/core/src/components/Steps/__stories__/Steps.stories.tsx
  packages/core/src/components/Tabs/TabPanels/__stories__/TabPanels.stories.tsx
  packages/core/src/components/Text/__stories__/Text.stories.tsx
  packages/core/src/components/TextField/__stories__/TextField.stories.tsx
  packages/core/src/components/ThemeProvider/__stories__/ThemeProvider.stories.tsx
  packages/core/src/components/Tipseen/__stories__/Tipseen.stories.tsx
  packages/core/src/components/Toast/__stories__/Toast.stories.tsx
  packages/core/src/components/Toggle/__stories__/Toggle.stories.tsx
Labels: vibe3

#2365 chore(Counter): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/counter-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/counter-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2364 chore(Divider): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/divider-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/divider-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2363 chore(BreadcrumbItem): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/breadcrumb-item-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/breadcrumb-item-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2359 chore(Box): deprecate enums
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Box/Box.tsx
  packages/core/src/components/Box/Box.types.ts
  packages/core/src/components/Box/BoxConstants.ts
  packages/core/src/components/Box/__stories__/Box.stories.tsx
  packages/core/src/components/Box/__tests__/Box.snapshot.test.tsx
  packages/core/src/components/Box/__tests__/__snapshots__/Box.snapshot.test.tsx.snap
  packages/core/src/components/Box/index.ts
  packages/core/src/components/Dropdown/__stories__/Dropdown.stories.js
  packages/core/src/components/Tabs/__stories__/Tabs.stories.tsx
  packages/core/src/storybook/components/related-components/descriptions/box-description.jsx
  packages/core/src/storybook/patterns/dropdown-in-modals/dropdown-in-modals.stories.js
  packages/core/src/types/ValueOf.ts
  packages/core/src/types/index.ts
Labels: breaking change, vibe3

#2368 chore(Loader): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/loader-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/loader-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2371 chore(Menu): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-button-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-divider-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-item-button-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-item-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/menu-title-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/menu-button-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/menu-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/menu-divider-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/menu-item-button-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/menu-item-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/menu-title-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2373 Bring back static props that were deleted
  packages/core/docs/vibe-3-changelog.md
  packages/core/src/components/Menu/MenuItem/MenuItem.tsx
  packages/core/src/components/Menu/MenuItemButton/MenuItemButton.tsx
  packages/core/src/components/SplitButton/SplitButton.tsx
  packages/core/src/components/Tipseen/Tipseen.tsx
Labels: vibe3

#2374 chore(TabList & TabPanels): codemod for migration of props
  packages/codemod/transformations/core/v2-to-v3/__tests__/tab-list-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/tab-panels-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/tab-list-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/tab-panels-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2375 Codemods label/avatar/checkbox/clickable/iconButton
  packages/codemod/transformations/core/v2-to-v3/__tests__/avatar-group-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/checkbox-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/clickable-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/icon-button-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/label-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/avatar-group-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/checkbox-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/clickable-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/icon-button-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/label-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2385 chore: Modal and ModalHeader codemods
  packages/codemod/transformations/core/v2-to-v3/__tests__/modal-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/modal-header-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/modal-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/modal-header-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3

#2389 Chore(Steps): Codemod for migration of props & addNewProp util
  packages/codemod/src/utils/prop-utils.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/link-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/steps-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/steps-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2390 Chore(ColorPicker/ColorPickerContent): Codemod for migration of static props
  packages/codemod/transformations/core/v2-to-v3/__tests__/color-picker-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/color-picker-content-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/color-picker-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/color-picker-content-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2393 Chore(InputField): Codemod for migration of component to TextField
  packages/codemod/transformations/core/v2-to-v3/__tests__/input-field-component-import-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/input-field-component-import-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2388 Codemods Tipseen/Tooltip/ThemeProvider
  packages/codemod/transformations/core/v2-to-v3/__tests__/theme-provider-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/tipseen-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/tooltip-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/theme-provider-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/tipseen-component-migration.ts
  packages/codemod/transformations/core/v2-to-v3/tooltip-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2400 chore(Table): add small size
  packages/core/src/components/Table/Table/Table.types.ts
Labels: vibe3

#2372 ci: release v2 workflow
  .github/workflows/release-v2.yml
Labels: vibe3

#2394 Chore: Add tests for codemod utils
  packages/codemod/src/utils/__tests__/import-utils.test.ts
  packages/codemod/src/utils/__tests__/prop-utils.test.ts
Labels: vibe3, codemod

#2395 chore: codemods for /types entry
  packages/codemod/src/utils/import-utils.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/type-imports-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/type-imports-migration.ts
  packages/codemod/types/index.ts
  packages/codemod/types/paths.types.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3

#2396 chore: packages rename codemod
  packages/codemod/src/consts/vibe-import-paths.ts
  packages/codemod/transformations/core/v2-to-v3/__tests__/packages-rename-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/packages-rename-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3

#2402 Chore(Icon): Codemod for removing clickable when it is false
  packages/codemod/transformations/core/v2-to-v3/__tests__/icon-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/icon-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3, codemod

#2386 chore: TextField codemods
  packages/codemod/transformations/core/v2-to-v3/__tests__/text-field-component-migration.test.ts
  packages/codemod/transformations/core/v2-to-v3/text-field-component-migration.ts
  packages/core/docs/vibe-3-changelog.md
Labels: vibe3

#2382 chore: re-adjust plop
  packages/core/package.json
  packages/core/plop/component/component-index.txt
  packages/core/plop/component/component-ts.txt
  packages/core/plop/component/component-types.txt
  packages/core/plop/component/index.js
  packages/core/plop/general/component-stories-helpers-js.txt
  packages/core/plop/general/component-stories-mdx.txt
  packages/core/plop/general/component-stories-scss.txt
  packages/core/plop/general/component-stories-tsx.txt
  packages/core/plop/hooks/index.js
  packages/core/plop/stories/index.js
  packages/core/plop/tests/index.js
  packages/core/plopfile.js
  yarn.lock
Labels: vibe3

#2403 chore: remove unused plop actions
  packages/core/plop/component/component-stories-mdx.txt
  packages/core/plop/component/component-stories-tsx.txt
  packages/core/plop/component/component-tests.txt
  packages/core/plop/component/index.js
  packages/core/plop/hooks/hook-story-js.txt
  packages/core/plop/hooks/hook-story-scss.txt
  packages/core/plop/hooks/hook-story.txt
  packages/core/plop/hooks/hook.txt
  packages/core/plop/hooks/index.js
  packages/core/plop/stories/index.js
  packages/core/plop/tests/index.js
  packages/core/plopfile.js
Labels: vibe3
